.footer
    .container
        .footer__inner
            .footer__address
                span SIA Black Corners Production
                span Reg nr. 40203093895
                span Vilandes iela 8, Rīga, LV-1010
            .footer__social
                a(href="#")
                    img(src="./img/icons/insta.png", alt="")
                a(href="#")
                    img(src="./img/icons/fb.png", alt="")
            a(href="#").footer__phone +371 29238185