.main 
    .container
        .main__inner
            h2.main__subtitle Хочешь, но не знаешь как? Мы научим!
            h1.main__title Инкубатор-блоггеров
            form(action="").main__form
                input(type="text" , name="tel", id="tel")
                button(type="submit") Заказать звонок
                