.programm
    .container
        .programm__inner
            h2.programm__title УНИКАЛЬНАЯ ПРОГРАММА!
            a(href="#").programm__button.button
                span УЗНАТЬ ПРОГРУММУ И ЦЕНЫ