.request
    .container
        .request__inner
            h2.request__title НАЧНИ УЧИТЬСЯ УЖЕ СЕЙЧАС!
            .request__steps
                .request__step Интервью
                hr
                .request__step Определение направления
                hr
                .request__step Обучение
                hr
                .request__step Выпуск!
            a(href="#").request__button.button
                span ПОДАТЬ ЗАЯВКУ