.teachers
    .container
        .teachers__wrapper
            h2.teachers__title ПРЕПОДАВАТЕЛИ
            .teachers__inner
                button(type="button" class="prev")
                    <svg viewBox="0 0 32 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7">
                            <line y1="-4.5" x2="35.1151" y2="-4.5" transform="matrix(-0.611322 0.791382 -0.74125 -0.671229 22.4667 0)" stroke="black" stroke-width="9"/>
                            <line y1="-4.5" x2="34.6067" y2="-4.5" transform="matrix(-0.745974 -0.665975 0.605877 -0.795558 32 44)" stroke="black" stroke-width="9"/>
                        </g>
                    </svg>
                .teachers__slider-wrapper
                    .teachers__slider
                        .teachers__item
                            .teachers__avatar
                                img(src="./img/teachers/1.jpg", alt="")
                            .teachers__info
                                span Даниэль Гунба
                                span Основатель компании  Black Corners Production
                                span Курс: Фото / Видео искусство.
                                span Пост Обработка.
                        .teachers__item
                            .teachers__avatar
                                img(src="./img/teachers/2.jpg", alt="")
                            .teachers__info
                                span Алишер Акбаров
                                span Основатель компании  SPACER
                                span Курс: Цифровой маркетинг.
                                span Продвижение на цифровых площадках.
                        .teachers__item
                            .teachers__avatar
                                img(src="./img/teachers/3.jpg", alt="")
                            .teachers__info
                                span Виталий Копшталс
                                span Гафер в Black Corners Production
                                span Курс: Постановка света.
                        .teachers__item
                            .teachers__avatar
                                img(src="./img/teachers/2.jpg", alt="")
                            .teachers__info
                                span Алишер Акбаров
                                span Основатель компании  SPACER
                                span Курс: Цифровой маркетинг.
                                span Продвижение на цифровых площадках.
                button(type="button" class="next")
                    <svg viewBox="0 0 32 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7">
                            <line y1="-4.5" x2="35.1151" y2="-4.5" transform="matrix(0.611322 -0.791382 0.74125 0.671229 9.53333 52)" stroke="black" stroke-width="9"/>
                            <line y1="-4.5" x2="34.6067" y2="-4.5" transform="matrix(0.745974 0.665975 -0.605877 0.795559 0 8)" stroke="black" stroke-width="9"/>
                        </g>
                    </svg>