.why
    .container
        .why__inner
            .why__info
                h2.why__title ПОЧЕМУ <span> МЫ?</span>
                p.why__text.
                    Именно у нас, вы получите не только знания
                    о том, как вести свой канал, но и 
                    профессиональные навыки в сфере 
                    фотографии и видео прдакшна!
            .why__icon
                <svg viewBox="0 0 416 384" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M51.342 374.37C126.514 349.313 205.349 347.449 283.186 336.97C313.521 332.887 405.479 331.887 374.87 331.887" stroke="black" stroke-width="19" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M381.406 152.149C379.498 142.395 373.086 131.182 378.138 146.339C382.486 159.381 383.352 173.599 386.49 187.007C395.018 223.447 403.417 262.011 407.55 299.207" stroke="black" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.6624 171.757C3.0195 152.203 12.8313 176.433 15.3944 186.281C22.4532 213.401 33.03 239.127 41.5382 265.802C47.4962 284.481 54.7631 302.151 58.6042 321.357C62.242 339.546 63.2984 326.702 64.4139 315.547" stroke="black" stroke-width="19" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M44.8061 155.417C6.56083 153.505 59.4904 140.697 69.1342 138.351C124.577 124.865 181.013 117.702 236.89 106.398C271.437 99.4083 306.046 96.2259 340.738 90.784C353.033 88.8554 320.961 90.0578 316.047 90.0578" stroke="black" stroke-width="17" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M113.433 112.933C91.949 101.095 78.0505 75.154 85.4741 49.3897C94.6741 17.4603 123.869 13.9049 152.649 10.1742C203.607 3.56852 240.884 24.6996 240.884 76.9859" stroke="black" stroke-width="17" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M211.472 191.365C198.214 178.496 186.724 170.254 168.807 180.108C150.926 189.943 138.281 205.018 133.404 225.134C121.286 275.122 173.58 290.764 214.74 278.873C244.882 270.166 306.008 248.972 276.65 209.338C250.98 174.684 188.646 175.025 149.381 175.025" stroke="black" stroke-width="18" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M218.008 233.848C208.336 226.65 195.717 215.956 183.513 224.77C176.27 230.002 176.032 239.257 182.061 245.467C192.485 256.208 215.275 253.77 227.812 250.188" stroke="black" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
