.conts
    .conts__inner
        h1.conts__title СВЯЖИТЕСЬ С <span>НАМИ!</span>
        form(action="").conts__form
            .conts__inputs
                input(type="text", name="name", placeholder="Имя*").conts__input
                input(type="text", name="email", placeholder="Эл. почта*").conts__input
                input(type="text", name="phone", placeholder="Тел. номер*").conts__input
            textarea(name="area", cols="30", rows="10", placeholder="Что на душе ?").conts__textarea
            .conts__button-wrapper
                button(type="submit").conts__button ОТПРАВИТЬ
        .conts__items
            .conts__item
                img(src="./img/icons/phone.png", alt="")
                a(href="#") +371 292388185
            .conts__item
                img(src="./img/icons/mail.png", alt="")
                a(href="#") info@bloggerschool.lv
            .conts__item
                img(src="./img/icons/geo.png", alt="")
                a(href="#") Vilandes iela 8