extends layout/main

block content
    .first
        include ./modules/header
        include ./modules/main
    include ./modules/teachers
    include ./modules/request
    include ./modules/why
    include ./modules/programm
    include ./modules/footer