extends layout/main

block content
    include ./programms/header
    .third
        include ./programms/main
    include ./programms/programms
    include ./programms/price
    include ./modules/footer