.header.header--conts
    .container
        .header__inner
            .header__logo
                span LOGO
            .header__nav
                .header__nav-inner
                    ul
                        li
                            a(href="./index.html").header__nav-item Главная
                        li.active
                            a(href="#").header__nav-item Программа и цены
                        li
                            a(href="./conts.html").header__nav-item Контакты
                <span class="target"></span>