.price
    .container
        .price__wrapper
            h2.price__title ЦЕНЫ
            .price__inner
                .price__item.price__item--yellow
                    .price__item-header.yellow
                        span БЛОГЕР
                    .price__item-subjects
                        span Аудиовизуальный курс.
                        span Фотоискусство.
                        span Видеоискусство.
                        span Актёрское мастерсво.
                    .price__item-cost.yellow €500
                    a(href="#").price__item-button.yellow Подать заявку
                .price__item.price__item--red
                    .price__item-header.red
                        span БЛОГЕР <span>PRO.</span>
                    .price__item-subjects
                        span Полный курс.
                        span Фотоискусство.
                        span Видеоискусство.
                        span Актёрское мастерсво.
                        span Реклама в социальных сетях.
                    .price__item-cost.red €700
                    a(href="#").price__item-button.red Подать заявку
                .price__item.price__item--green
                    .price__item-header.green
                        span ФОТОГРАФ
                    .price__item-subjects
                        span Курс фотографа.
                        span Фотоискусство.
                    .price__item-cost.green €300
                    a(href="#").price__item-button.green Подать заявку