.programms
    .container
        .programms__inner
            h2.programms__title ПРОГРАММА
            .programms__items
                .programms__item-wrapper
                    .programms__item.programms__item--first
                        h2.programms__item-title  ФОТОИСКУССТВО
                        .programms__item-subjects
                            span.programms__item-subject Разбор камеры и объективов. 
                            span.programms__item-subject Работа с Камерой в M(Manual) режиме.
                            span.programms__item-subject Постановка Композиции.
                            span.programms__item-subject Постановка света.
                            span.programms__item-subject Цветокоррекция.
                            span.programms__item-subject Детализация кадра и кадрирование. 
                            span.programms__item-subject Базовая ретушь в Adobe Lightroom. 
                            span.programms__item-subject Работа с кистями. 
                .programms__item-wrapper
                    .programms__item.programms__item--srcond
                        h2.programms__item-title ВИДЕОИСКУССТОВ
                        .programms__item-subjects
                            span.programms__item-subject Композиция видео.
                            span.programms__item-subject Свет в видео.
                            span.programms__item-subject Pre production.
                            span.programms__item-subject Production.
                            span.programms__item-subject Post Production.
                            span.programms__item-subject Работа с стабилизаторами.
                            span.programms__item-subject Работа со звуком.
                            span.programms__item-subject Написание сценария.
                            span.programms__item-subject Монтаж Adobe Premiere Pro.
                            span.programms__item-subject Цветокоррекция.
                .programms__item-wrapper
                    .programms__item.programms__item--third
                        h2.programms__item-title АКТЁРСКОЕ МАСТЕРСТВО
                        .programms__item-subjects
                            span.programms__item-subject Работа перед камерой.
                            span.programms__item-subject Коммуникация.
                            span.programms__item-subject Актёрская игра.
                .programms__item-wrapper
                    .programms__item.programms__item--fourd
                        h2.programms__item-title  РЕКЛАМА В СОЦИЯЛЬНЫХ СЕТЯХ
                        .programms__item-subjects
                            span.programms__item-subject Оформление социальных сетей.
                            span.programms__item-subject Развитие себя как бренда.
                            span.programms__item-subject Развитие себя как компании.
                            span.programms__item-subject Реклама SMM (Social media Marketing)
                            span.programms__item-subject Контекстная реклама (Google ADD)